*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: noto-sans-cjk-jp, sans-serif;
  background-image: linear-gradient(
    to right,
    rgba(50, 179, 156, 0.8) 0%,
    rgba(9, 139, 195, 0.8) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-family: lato, sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #ffffff;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  letter-spacing: 0.1em;
  transition-duration: 0.4s;
}

button:hover,
button:active {
  background-color: rgba(255, 255, 255, 0);
  letter-spacing: 0.3em;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
